doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-grid.min.css')
    link(rel='stylesheet', href='/js/datatables.min.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/jquery-3.4.1.min.js')
    script(src='/js/bootstrap.bundle.min.js')
    script(src='/js/datatables.min.js')
    script(src='/js/app.js')
  body
    block content
